<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{board_layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>사용자 추천 목록</title>
</head>
<body>


<section id="webnovel-list" class="position-relative padding-small">
    <div id="filter-container">
        <h3>사용자 추천 - 책</h3>
        <div class="webnovel-grid">
            <div class="webnovel-item position-relative" th:each="vo : ${books}">
                <a th:href="@{/book/datail(item_id=${vo.item_id})}">
                    <img th:src="@{${vo.img_name}}" class="webnovel-img" alt="Webnovel Cover">
                </a>
                <a th:href="@{/book/datail(item_id=${vo.item_id})}" class="webnovel-title"
                   th:text="${vo.title}"></a>
                <form action="/bookshelf/insertOK" method="post">
                    <div class="card-concern position-absolute start-50 translate-middle-x vstack gap-2 p-2">
                        <input type="hidden" name="work_num" th:value="${vo.item_id}" />
                        <label th:for="'read'+${vo.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'read'+${vo.item_id}" value="read" onchange="this.form.submit()" class="position-absolute"> 읽은 작품</label>
                        <label th:for="'to-read'+${vo.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'to-read'+${vo.item_id}" value="to-read" onchange="this.form.submit()" class="position-absolute"> 읽고 싶은 작품</label>
                        <label th:for="'ing'+${vo.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'ing'+${vo.item_id}" value="ing" onchange="this.form.submit()" class="position-absolute"> 읽고 있는 작품</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div th:class="pagecount">
    <th:block  th:each="i : ${#numbers.sequence(1, totalPageCount)}">
        <a th:class="pagecount" th:href="@{/bookrecommendation(pageBlock=${pageBlock}, cpage=${i})}"
           th:text="${i}" th:classappend="${i == pageBlock} ? 'active'"></a>
    </th:block>
</div>
</body>
</html>