<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/sub.css" rel="stylesheet">
</head>
<body  th:fragment="content">
<div class="position-relative padding-medium">
    <div class="container">
        <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
            <h3 class="d-flex align-items-center">리뷰목록</h3>
            <form th:action="@{/review/searchList}" method="GET" class="search-list--custom d-flex w-100">
                <select name="searchKey" id="searchKey" class="form-select p-2 w-25 rounded-0">
                    <option value="title" th:selected="${searchKey == 'title'}">제목</option>
                    <option value="user_id" th:selected="${searchKey == 'user_id'}">글쓴이</option>
                </select>
                <input type="text" minlength="2" name="searchWord" th:value="${searchWord}" placeholder="검색어 입력"
                       class="form-control p-2 w-75 rounded-0">
                <input type="submit" class="btn btn-dark rounded-0" value="검색">
            </form>
        </div>
        <div>
            <button th:id="write-btn" onclick="location.href='/review/insert'">write</button>
        </div>
        <div>
            <div style="margin: 10px">
                <strong>정렬</strong>
                <small><a th:href="|@{/review/list(cpage=${cpage},total_Row=${total_Row},sortType='recent')}|">최신순</a></small>
                <small><a th:href="|@{/review/list(cpage=${cpage},total_Row=${total_Row},sortType='old')}|">오래된 순</a></small>
                <small><a th:href="@{/review/list(cpage=${cpage},total_Row=${total_Row},sortType='like')}">인기순</a></small>
                <small><a th:href="@{/review/list(page=${cpage},total_Row=${total_Row},sortType='rating')}">별점순</a></small>
                <small><a th:href="@{/review/list(page=${cpage},total_Row=${total_Row},sortType='commentCount')}">댓글 많은순</a></small>
                <div> 총 <small th:text="${total_Row}" ></small>건</div>
            </div>
        </div>
        </div>


    </div>
</div>
<div th:each="review : ${list}" style="display: inline-block">
    <a th:href="|/review/detail?num=${review.num}|">
        <div style="width: 300px; margin: 20px;">
            <div class="card position-relative">
                <h6 class="mt-4 mb-0 fw-bold" th:text="${review.title}"></h6>
                <div class="review-content d -flex"><p class="my-2 me-2 fs-6 text-black-50" th:text="${review.content}"></p>
                    <div class="rating text=wrning d-flex align-item-center">
                        <svg class="star srat-fill">별점<use xlink:href="#star-fill"></use></svg>
                        <svg class="star srat-fill">별점<use xlink:href="#star-fill"></use></svg>
                        <svg class="star srat-fill">별점<use xlink:href="#star-fill"></use></svg>
                        <svg class="star srat-fill">별점<use xlink:href="#star-fill"></use></svg>
                        <svg class="star srat-fill">별점<use xlink:href="#star-fill"></use></svg>
                    </div>
                </div>
                <small th:text="${review.wdate}"></small>
            </div>
        </div>
    </a>
</div>
<div style="text-align: center">
    <th:block th:each="i : ${#numbers.sequence(1,totalPageCount)}">
        <th:block th:if="${param.searchKey == null}">
            <a th:href="|/review/list?cpage=${i}|" th:text="${i}"></a>
        </th:block>
        <th:block th:if="${param.searchKey != null}" >
            <th:block th:with="searchKey=${param.searchKey},searchWord=${param.searchWord}">
                <a th:href="|/review/searchList?cpage=${i}&searchKey=${searchKey}&searchWord=${searchWord}|"
                   th:text="${i}"></a>
            </th:block>
        </th:block>
    </th:block>
</div>
</body>
</html>
