<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>community_main.html</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/community/community_mainCSS.css"> <!-- CSS 파일 링크 -->
    <style>
        /* /community/community_mainCSS.css */
    </style>
</head>

<body>
<h1>커뮤니티 메인 페이지</h1>
<nav th:replace="~{top_menu::top_menu}"></nav>
<br>

<div  id="button-container">
<table id="insertTable1" border="1">
    <th id="z">최근 게시글</th>
    <tbody>
    <th:block th:each="vo : ${list1}">
        <tr id="table1">
            <td>[[${vo.title}]]</td>
        </tr>
    </th:block>
    <td><a th:href="|/board/n_selectAll.do|">더보기...</a></td>
    </tbody>
</table>

<br><br>

<table id="insertTable2" border="1">
    <th>최근 공지사항</th>
    <tbody>
    <th:block th:each="vo : ${list2}">
        <tr id="table2">
            <td>[[${vo.title}]]</td>
        </tr>
    </th:block>
    <td><a th:href="|/notice/n_selectAll.do|">더보기...</a></td>
    </tbody>
</table>
</div>

<br><br><br><br><br><br><br><br><br><br>

<div  id="button-container2">
<table id="insertTable3" border="1">
    <th>최근 리뷰글</th>
    <tbody>
    <th:block th:each="vo : ${list3}">
        <tr id="table3">
            <td>[[${vo.title}]]</td>
        </tr>
    </th:block>
    <td><a th:href="|/review/n_selectAll.do|">더보기...</a></td>
    </tbody>
</table>

<br><br>

<table id="insertTable4" border="1">
    <th>최근 토론글</th>
    <tbody>
    <th:block th:each="vo : ${list4}">
        <tr id="table4">
            <td>[[${vo.title}]]</td>
        </tr>
    </th:block>
    <td><a th:href="|/forum/n_selectAll.do|">더보기...</a></td>
    </tbody>
</table>
</div>

<br><br>

</body>
</html>


<!--<section id="latest-notice" class="padding-large">-->
<!--    <div class="container">-->
<!--        <div class="section-title d-md-flex justify-content-between align-items-center mb-4">-->
<!--            <h3>최근 공지사항</h3>-->
<!--            <a href="index.html" class="btn">View All</a>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-3 posts mb-4">-->
<!--                <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">10 Must-Read Books of the Year: Our Top Picks!</a></h4>-->
<!--                <p>Dive into the world of cutting-edge technology with our latest blog post, where we highlight-->
<!--                    five essential gadge. <span><a class="text-decoration-underline text-black-50" href="index.html">Read More</a></span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div>-->
<!--                <h4><a href="index.html">The Fascinating Realm of Science Fiction</a></h4>-->
<!--                <p class="mb-2">Explore the intersection of technology and sustainability in our latest blog post. Learn about-->
<!--                    the innovative <span><a class="text-decoration-underline text-black-50" href="index.html">Read More</a></span> </p>-->
<!--            </div>-->
<!--            <div class="col-md-3 posts mb-4">-->
<!--                <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">Finding Love in the Pages of a Book</a></h4>-->
<!--                <p class="mb-2">Stay ahead of the curve with our insightful look into the rapidly evolving landscape of-->
<!--                    wearable technology. <span><a class="text-decoration-underline text-black-50" href="index.html">Read More</a></span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="col-md-3 posts mb-4">-->
<!--                <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">Reading for Mental Health: How Books Can Heal and Inspire</a></h4>-->
<!--                <p class="mb-2">In today's remote work environment, productivity is key. Discover the top apps and tools that-->
<!--                    can help you stay <span><a class="text-decoration-underline text-black-50" href="index.html">Read More</a></span>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section id="latest-review" class="padding-large">-->
<!--    <div class="container">-->
<!--        <div class="section-title d-md-flex justify-content-between align-items-center mb-4">-->
<!--            <h3 class="d-flex align-items-center">최근 리뷰</h3>-->
<!--            <a href="index.html" class="btn">View All</a>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-3 posts mb-4">-->
<!--                <img src="images/post-item1.jpg" alt="post image" class="img-fluid rounded-3">-->
<!--                <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">10 Must-Read Books of the Year: Our Top Picks!</a></h4>-->
<!--                <p class="mb-2">Dive into the world of cutting-edge technology with our latest blog post, where we highlight-->
<!--                    five essential gadge. <span><a class="text-decoration-underline text-black-50" href="index.html">Read More</a></span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="col-md-3 posts mb-4">-->
<!--                <img src="images/post-item2.jpg" alt="post image" class="img-fluid rounded-3">-->
<!--                <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">The Fascinating Realm of Science Fiction</a></h4>-->
<!--                <p class="mb-2">Explore the intersection of technology and sustainability in our latest blog post. Learn about-->
<!--                    the innovative <span><a class="text-decoration-underline text-black-50" href="index.html">Read More</a></span> </p>-->
<!--            </div>-->
<!--            <div class="col-md-3 posts mb-4">-->
<!--                <img src="images/post-item3.jpg" alt="post image" class="img-fluid rounded-3">-->
<!--                <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">Finding Love in the Pages of a Book</a></h4>-->
<!--                <p class="mb-2">Stay ahead of the curve with our insightful look into the rapidly evolving landscape of-->
<!--                    wearable technology. <span><a class="text-decoration-underline text-black-50" href="index.html">Read More</a></span>-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="col-md-3 posts mb-4">-->
<!--                <img src="images/post-item4.jpg" alt="post image" class="img-fluid rounded-3">-->
<!--                <h4 class="card-title mb-2 text-capitalize text-dark"><a href="index.html">Reading for Mental Health: How Books Can Heal and Inspire</a></h4>-->
<!--                <p class="mb-2">In today's remote work environment, productivity is key. Discover the top apps and tools that-->
<!--                    can help you stay <span><a class="text-decoration-underline text-black-50" href="index.html">Read More</a></span>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
