<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <meta charset="UTF-8">
    <title>자유게시판</title>
</head>
<body>
<div th:fragment="content">
    <div class="container mt-5">
        <h1 class="mb-4">게시글 상세 페이지</h1>
        <div class="card p-4">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th>글번호</th>
                    <th>글제목</th>
                    <th>글내용</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                    <th>임시 신고 확인용</th>
                    <th>사진</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${vo2.num}"></td>
                    <td th:text="${vo2.title}"></td>
                    <td th:text="${vo2.content}"></td>
                    <td th:text="${vo2.user_id}"></td>
                    <td th:text="${vo2.wdate}"></td>
                    <td th:text="${vo2.report}"></td>
                    <td><img th:src="@{/resources/upload_img/{img_name}(img_name=${vo2.img_name})}" class="img-thumbnail"></td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <a th:href="@{/b_update(num=${vo2.num})}" class="btn btn-primary">게시글수정</a>
                <a th:href="@{/b_delete(num=${vo2.num}, category=${vo2.category})}" class="btn btn-danger">게시글삭제</a>

                <!-- 신고하기 버튼 추가 -->
                <form th:action="@{/b_reportOK}" method="post" id="reportForm">
                    <input type="hidden" name="num" th:value="${vo2.num}">
                    <button type="button" class="btn btn-warning" onclick="confirmReport()">신고</button>
                </form>


            </div>
        </div>
    </div>
</div>
</body>
</html>
