<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{board_layout :: layout(~{::title}, ~{::content})}">
<head>
    <meta charset="UTF-8">
    <title>자유게시판</title>
</head>
<body>
<div th:fragment="content">
    <div class="container mt-5">
        <h1 class="mb-4">게시글 수정 페이지</h1>
        <div class="card p-4">
            <form action="b_updateOK" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="file">사진첨부</label>
                    <input type="file" class="form-control-file" id="file" name="file">
                </div>
                <div class="form-group">
                    <label for="category">카테고리</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="category" value="free" checked>
                        <label class="form-check-label" for="category">
                            자유
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="qna" value="qna">
                        <label class="form-check-label" for="qna">
                            질문
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="num">글번호</label>
                        <p th:text="${param.num}"></p>
                        <input type="hidden" id="num" name="num" th:value="${param.num}">
                    </div>
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="${vo2.title}" placeholder="제목을 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="content">내용</label>
                        <textarea class="form-control" name="content" id="content" cols="30" rows="10" th:text="${vo2.content}"></textarea>
                    </div>
                    <div class="form-group user-id" >
                        <label for="user_id">작성자</label>
                        <input type="hidden" id="user_id" name="user_id" th:value="${vo2.user_id}">
                        <p th:text="${vo2.user_id}"></p>
                    </div>
                    <button type="submit" class="btn btn-primary">수정완료</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>