<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 삭제 페이지</title>
    <link rel="stylesheet" href="/css/notice/deleteCSS.css"> <!-- CSS 파일 링크 -->
    <style>
        /* /notice/deleteCSS.css */
    </style>
</head>

<body>
<h1>공지사항 삭제 페이지</h1>

<nav th:replace="~{top_menu::top_menu}"></nav>

<form action="/notice/n_deleteOK.do" method="post">
    <table border="1">
        <tbody>
        <tr>
            <th>[[${param.num}]] 번 글을 삭제하시겠습니까?</th>
            <td><input type="hidden" name="num" th:value="${param.num}"></td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
</form>

</body>
</html>