<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>insert.html</title>
  <link rel="stylesheet" href="/css/notice/insertCSS.css"> <!-- CSS 파일 링크 -->
  <style>
    /* /notice/insertCSS.css */
  </style>
</head>

<body>
<h1>공지사항 작성 페이지</h1>

<nav th:replace="~{top_menu::top_menu}"></nav>

<form action="/notice/n_insertOK.do" method="post" enctype="multipart/form-data">
  <table id="insertTable" border="1">
    <tr>
      <td><label for="title">제목</label></td>
      <td><input type="text" id="title" name="title" value="홈페이지 업데이트" placeholder="제목을 입력하세요"></td>
    </tr>
    <tr>
      <td><label for="content">내용</label></td>
      <td><textarea name="content" id="content" cols="40" rows="25">시스템 업데이트</textarea></td>
    </tr>
    <tr>
      <!--관리자 로그인 세션 있을 때, <td>바로 뒤에 넣으면 됨-->
      <td><label for="user_id">작성자</label></td>
      <td><input type="text" id="user_id" name="user_id" value="관리자"></td>
    </tr>
    <tr>
      <td><label for="file">이미지</label></td>
      <td><input type="file" id="file" name="file" ></td>
    </tr>
  </table>

  <input id="btn1" type="submit" value="등록하기">
</form>

</body>
</html>