<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::main})}">
<head>
  <title>PageOn 닉네임님의 서재</title>
</head>
<body>
<main th:fragment="bookshelf-list">
  <div class="position-relative padding-medium">
    <div class="container">
      <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
        <h3 class="d-flex align-items-center"><span class="text-primary" th:text="${userName}"></span>님의 서재</h3>
        <p class="f-3" th:text="|총 ${totalList}건|"></p>
      </div>
      <ul class="custom-category list-unstyled d-flex justify-content-center py-4 fs-5">
        <li class="mx-2"><a th:href="@{/bookshelf/list(sort='all', userId=${userId})}" th:class="${currentSort == 'all'? 'active' : ''}">전체보기</a></li>
        <li class="mx-2"><a th:href="@{/bookshelf/list(sort='to-read', userId=${userId})}" th:class="${currentSort == 'to-read'? 'active' : ''}">읽고 싶은 작품</a></li>
        <li class="mx-2"><a th:href="@{/bookshelf/list(sort='ing', userId=${userId})}" th:class="${currentSort == 'ing'? 'active' : ''}">읽고 있는 작품</a></li>
        <li class="mx-2"><a th:href="@{/bookshelf/list(sort='read', userId=${userId})}" th:class="${currentSort == 'read'? 'active' : ''}">읽은 작품</a></li>
      </ul>
     <table class="table table-border text-center my-5">
       <thead>
         <tr>
           <th>커버</th>
           <th>
             <a th:href="@{/bookshelf/list(sort=${currentSort},page=${currentPage}, sortField='title', sortDir=${reverseSortDir}, userId=${userId})}">
               작품명
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                 <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
               </svg>
             </a>
           </th>
           <th>분류</th>
           <th>
             <a th:href="@{/bookshelf/list(sort=${currentSort},page=${currentPage}, sortField='date_added', sortDir=${reverseSortDir}, userId=${userId})}">
               서재에 추가한 날짜
               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                 <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/>
               </svg>
             </a>
           </th>
           <th th:if="${isOwner}">삭제</th>
         </tr>
       </thead>
       <tbody>
        <tr th:each="book : ${list}">
          <td class="align-middle">
            <img class="img-fluid work-cover--sm" th:src="@{${book.workImgName}}" th:alt="|${book.workTitle} 작품 이미지|"/>
          </td>
          <td class="align-middle"><a th:href="@{/book/detail(item_id=${book.work_num})}" th:text="${book.workTitle}"></a></td>
          <td class="align-middle">
            <span th:if="${!isOwner}">
                <span th:if="${book.sort == 'to-read'}" th:text="'읽고 싶은 작품'"></span>
                <span th:if="${book.sort == 'ing'}" th:text="'읽고 있는 작품'"></span>
                <span th:if="${book.sort == 'read'}" th:text="'읽은 작품'"></span>
            </span>

            <form action="/bookshelf/updateSortOK" method="post" th:if="${isOwner}">
              <select name="sort" onchange="this.form.submit()" class="form-select w-auto mx-auto">
                <option value="read" th:selected="${book.sort == 'read'}">읽은 작품</option>
                <option value="to-read" th:selected="${book.sort == 'to-read'}">읽고 싶은 작품</option>
                <option value="ing" th:selected="${book.sort == 'ing'}">읽고 있는 작품</option>
              </select>
              <input type="hidden" name="num" th:value="${book.num}" />
            </form>
          </td>
          <td class="align-middle" th:text="${book.date_added}"></td>
          <td class="align-middle" th:if="${isOwner}">
            <a th:href="@{/bookshelf/deleteOK(num=${book.num})}">
              <i class="svg-icon--lg d-inline-block">
                <svg class="search-popup-close w-100">
                  <use xlink:href="#close"></use>
                </svg>
              </i>
            </a>
          </td>
        </tr>
       </tbody>
     </table>
      <script th:if="${successMsg}" th:utext="'alert(\'' + ${successMsg} + '\');'"></script>
      <script th:if="${errorMsg}" th:utext="'alert(\'' + ${errorMsg} + '\');'"></script>
      <th:block th:if="${totalPages > 0}">
      <div class="paging d-flex justify-content-center">
        <a th:each="i : ${#numbers.sequence(1, totalPages)}"
           th:href="@{/bookshelf/list(sort=${currentSort}, page=${i}, sortField=${sortField}, sortDir=${sortDir}, userId=${userId})}"
           th:classappend="${i == currentPage} ? 'active' : ''"
           th:text="${i}"></a>
      </div>
      </th:block>
    </div>
  </div>
  </div>
</main>
</body>
</html>
