<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::body})}">
<head>
  <title>Work Index</title>
</head>
<body>

<section id="work-index" class="position-relative padding-small">
  <div id="recommendation-container">
    <section id="user-recommend" class="position-relative padding-small">
      <div class="container">
        <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
          <h3 class="d-flex align-items-center">사용자 추천</h3>
          <a th:href="@{/review/bookrecommendation}" class="btn">더보기</a>
        </div>
        <div class="swiper work-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item1.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item2.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item3.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item4.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item5.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item6.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
          <h3 class="d-flex align-items-center"></h3>
          <a th:href="@{/review/webtoonrecommendation}" class="btn">더보기</a>
        </div>
        <div class="swiper work-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item1.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold" ><a th:href="@{/book/datail(item_id=${item_id})}"></a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item2.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item3.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item4.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item5.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item6.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="container">
        <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
          <h3 class="d-flex align-items-center"></h3>
          <a th:href="@{/review/webnovelrecommendation}" class="btn">더보기</a>
        </div>
        <div class="swiper work-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item1.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item2.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item3.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item4.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item5.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card position-relative p-4 border rounded-3">
                <img src="images/product-item6.png" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold"><a href="#">작품 제목</a></h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50">작가</p>

                  <div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                    <svg class="star star-fill">
                      <use xlink:href="#star-fill"></use>
                    </svg>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section id="categories-recommend" class="position-relative padding-small" th:if="${session.id != null}">
      <div class="container">
        <div class="section-title d-flex justify-content-between align-items-center mb-4">
          <h3 class="d-flex align-items-center">선호 카테고리 추천</h3>
          <a href="#" class="btn">더보기</a> <!-- 선호 카테고리 추천 전체 리스트 페이지로 이동 -->
        </div>
        <div class="swiper work-swiper">
          <div class="swiper-wrapper">
            <!-- 선호 카테고리 기반 추천 작품을 20개까지 출력 -->
            <div class="swiper-slide" th:each="webnovel : ${likedWebtoons}">
              <div class="card position-relative p-4 border rounded-3">
                <a href="#">
                  <img th:src="@{${webtoon.img_name}}" class="img-fluid shadow-sm" alt="책 표지">
                </a>
                <h6 class="mt-4 mb-0 fw-bold">
                  <a href="#" th:text="${webtoon.title}">작품 제목</a>
                </h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50" th:text="${webnovel.writer}">작가</p>
                </div>
                <form action="/bookshelf/insertOK"  method="post">
                  <div class="card-concern position-absolute start-50 translate-middle-x vstack gap-2 p-2">
                    <input type="hidden" name="work_num" th:value="${webtoon.item_id}" />
                    <label th:for="'read'+${webtoon.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'read'+${webtoon.item_id}" value="read" onchange="this.form.submit()" class="position-absolute"> 읽은 작품</label>
                    <label th:for="'to-read'+${webtoon.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'to-read'+${webtoon.item_id}" value="to-read" onchange="this.form.submit()" class="position-absolute"> 읽고 싶은 작품</label>
                    <label th:for="'ing'+${webtoon.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'ing'+${webtoon.item_id}" value="ing" onchange="this.form.submit()" class="position-absolute"> 읽고 있는 작품</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="section-title d-flex justify-content-between align-items-center mb-4">
          <h3 class="d-flex align-items-center"></h3>
          <a th:href="@{/webnovels/liked(category=${likeCategories})}" class="btn">더보기</a>

        </div>
        <div class="swiper work-swiper">
          <div class="swiper-wrapper">
            <!-- 선호 카테고리 기반 추천 작품을 20개까지 출력 -->
            <div class="swiper-slide" th:each="webnovel : ${likedWebnovels}">
              <div class="card position-relative p-4 border rounded-3">
                <a th:href="@{/webnovel/detail(item_id=${webnovel.item_id})}">
                  <img th:src="@{${webnovel.img_name}}" class="img-fluid shadow-sm" alt="책 표지">
                </a>
                <h6 class="mt-4 mb-0 fw-bold">
                  <a th:href="@{/webnovel/detail(item_id=${webnovel.item_id})}" th:text="${webnovel.title}">작품 제목</a>
                </h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50" th:text="${webnovel.writer}">작가</p>
                </div>
                <form action="/bookshelf/insertOK"  method="post">
                  <div class="card-concern position-absolute start-50 translate-middle-x vstack gap-2 p-2">
                    <input type="hidden" name="work_num" th:value="${webnovel.item_id}" />
                    <label th:for="'read'+${webnovel.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'read'+${webnovel.item_id}" value="read" onchange="this.form.submit()" class="position-absolute"> 읽은 작품</label>
                    <label th:for="'to-read'+${webnovel.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'to-read'+${webnovel.item_id}" value="to-read" onchange="this.form.submit()" class="position-absolute"> 읽고 싶은 작품</label>
                    <label th:for="'ing'+${webnovel.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'ing'+${webnovel.item_id}" value="ing" onchange="this.form.submit()" class="position-absolute"> 읽고 있는 작품</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="section-title d-flex justify-content-between align-items-center mb-4">
          <h3 class="d-flex align-items-center"></h3>
          <a th:href="@{/books/liked(category=${likeCategories})}" class="btn">더보기</a>
        </div>
        <div class="swiper work-swiper">
          <div class="swiper-wrapper">
            <!-- 선호 카테고리 기반 추천 작품을 20개까지 출력 -->
            <div class="swiper-slide" th:each="book : ${likedBooks}">
              <div class="card position-relative p-4 border rounded-3">
                <a th:href="@{/book/detail(item_id=${book.item_id})}">
                  <img th:src="@{${book.img_name}}" class="img-fluid shadow-sm" alt="책 표지">
                </a>
                <h6 class="mt-4 mb-0 fw-bold">
                  <a th:href="@{/book/detail(item_id=${book.item_id})}" th:text="${book.title}">작품 제목</a>
                </h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50" th:text="${book.writer}">작가</p>
                </div>
                <form action="/bookshelf/insertOK"  method="post">
                  <div class="card-concern position-absolute start-50 translate-middle-x vstack gap-2 p-2">
                    <input type="hidden" name="work_num" th:value="${book.item_id}" />
                    <label th:for="'read'+${book.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'read'+${book.item_id}" value="read" onchange="this.form.submit()" class="position-absolute"> 읽은 작품</label>
                    <label th:for="'to-read'+${book.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'to-read'+${book.item_id}" value="to-read" onchange="this.form.submit()" class="position-absolute"> 읽고 싶은 작품</label>
                    <label th:for="'ing'+${book.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'ing'+${book.item_id}" value="ing" onchange="this.form.submit()" class="position-absolute"> 읽고 있는 작품</label>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

  <section id="best-webtoon" class="position-relative padding-small">
    <div class="container">
      <div class="section-title d-md-flex justify-content-between align-items-center mb-4">
        <h3 class="d-flex align-items-center">인기 웹툰</h3>
        <a th:href="@{/wt_search(searchType='popular')}" class="btn">더보기</a> <!-- 인기순 전체 리스트 페이지로 이동 -->
      </div>
      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          <!-- 인기 작품을 20개까지 출력 -->
          <div class="swiper-slide" th:each="webtoon : ${popularWebtoons}">
            <div class="card position-relative p-4 border rounded-3">
              <a th:href="@{/wt_selectOne(item_id=${webtoon.item_id})}">
                <img th:src="@{${webtoon.img_name}}" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold" th:text="${webtoon.title}">작품 제목</h6>
              </a>
              <div class="review-content d-flex">
                <p class="my-2 me-2 fs-6 text-black-50" th:text="${webtoon.writer}">작가</p>

                <!--<div class="rating text-warning d-flex align-items-center">
                    <svg class="star star-fill" th:each="i : ${#numbers.sequence(1, book.rating)}">
                        <use xlink:href="#star-fill"></use>
                    </svg>
                    &lt;!&ndash; 별점 최대 5개까지 표시 &ndash;&gt;
                </div>-->
                <form action="/bookshelf/insertOK"  method="post">
                  <div class="card-concern position-absolute start-50 translate-middle-x vstack gap-2 p-2">
                    <input type="hidden" name="work_num" th:value="${webtoon.item_id}" />
                    <label th:for="'read'+${webtoon.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'read'+${webtoon.item_id}" value="read" onchange="this.form.submit()" class="position-absolute"> 읽은 작품</label>
                    <label th:for="'to-read'+${webtoon.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'to-read'+${webtoon.item_id}" value="to-read" onchange="this.form.submit()" class="position-absolute"> 읽고 싶은 작품</label>
                    <label th:for="'ing'+${webtoon.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'ing'+${webtoon.item_id}" value="ing" onchange="this.form.submit()" class="position-absolute"> 읽고 있는 작품</label>
                  </div>
                </form>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="best-webnovel" class="position-relative padding-small">
    <div class="container">
      <div class="section-title d-flex justify-content-between align-items-center mb-4">
        <h3 class="d-flex align-items-center">인기 웹소설</h3>
        <a th:href="@{/webnovels(sortOrder='popular')}" class="btn">더보기</a> <!-- 인기순 전체 리스트 페이지로 이동 -->
      </div>
      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          <!-- 인기 작품을 20개까지 출력 -->
          <div class="swiper-slide" th:each="webnovel : ${popularWebnovels}">
            <div class="card position-relative p-4 border rounded-3">
              <a th:href="@{/webnovel/detail(item_id=${webnovel.item_id})}">
                <img th:href="@{/webnovel/detail(item_id=${webnovel.item_id})}" th:src="@{${webnovel.img_name}}" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold">
                  <a th:href="@{/webnovel/detail(item_id=${webnovel.item_id})}" th:text="${webnovel.title}">작품 제목</a>
                </h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50" th:text="${webnovel.writer}">작가</p>

                  <!--<div class="rating text-warning d-flex align-items-center">
                      <svg class="star star-fill" th:each="i : ${#numbers.sequence(1, book.rating)}">
                          <use xlink:href="#star-fill"></use>
                      </svg>
                      &lt;!&ndash; 별점 최대 5개까지 표시 &ndash;&gt;
                  </div>-->
                </div>
              </a>
              <form action="/bookshelf/insertOK"  method="post">
                <div class="card-concern position-absolute start-50 translate-middle-x vstack gap-2 p-2">
                  <input type="hidden" name="work_num" th:value="${webnovel.item_id}" />
                  <label th:for="'read'+${webnovel.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'read'+${webnovel.item_id}" value="read" onchange="this.form.submit()" class="position-absolute"> 읽은 작품</label>
                  <label th:for="'to-read'+${webnovel.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'to-read'+${webnovel.item_id}" value="to-read" onchange="this.form.submit()" class="position-absolute"> 읽고 싶은 작품</label>
                  <label th:for="'ing'+${webnovel.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'ing'+${webnovel.item_id}" value="ing" onchange="this.form.submit()" class="position-absolute"> 읽고 있는 작품</label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="best-book" class="position-relative padding-small">
    <div class="container">
      <div class="section-title d-flex justify-content-between align-items-center mb-4">
        <h3 class="d-flex align-items-center">인기 도서</h3>
        <a th:href="@{/books(sortOrder='popular')}" class="btn">더보기</a> <!-- 인기순 전체 리스트 페이지로 이동 -->
      </div>
      <div class="swiper product-swiper">
        <div class="swiper-wrapper">
          <!-- 인기 작품을 20개까지 출력 -->
          <div class="swiper-slide" th:each="book : ${popularBooks}">
            <div class="card position-relative p-4 border rounded-3">
              <a th:href="@{/book/detail(item_id=${book.item_id})}">
                <img th:href="@{/book/detail(item_id=${book.item_id})}" th:src="@{${book.img_name}}" class="img-fluid shadow-sm" alt="책 표지">
                <h6 class="mt-4 mb-0 fw-bold">
                  <a th:href="@{/book/detail(item_id=${book.item_id})}" th:text="${book.title}">작품 제목</a>
                </h6>
                <div class="review-content d-flex">
                  <p class="my-2 me-2 fs-6 text-black-50" th:text="${book.writer}">작가</p>

                  <!--<div class="rating text-warning d-flex align-items-center">
                      <svg class="star star-fill" th:each="i : ${#numbers.sequence(1, book.rating)}">
                          <use xlink:href="#star-fill"></use>
                      </svg>
                      &lt;!&ndash; 별점 최대 5개까지 표시 &ndash;&gt;
                  </div>-->
                  <form action="/bookshelf/insertOK"  method="post">
                    <div class="card-concern position-absolute start-50 translate-middle-x vstack gap-2 p-2">
                      <input type="hidden" name="work_num" th:value="${book.item_id}" />
                      <label th:for="'read'+${book.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'read'+${book.item_id}" value="read" onchange="this.form.submit()" class="position-absolute"> 읽은 작품</label>
                      <label th:for="'to-read'+${book.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'to-read'+${book.item_id}" value="to-read" onchange="this.form.submit()" class="position-absolute"> 읽고 싶은 작품</label>
                      <label th:for="'ing'+${book.item_id}" class="btn btn-dark"><input type="radio" name="sort" th:id="'ing'+${book.item_id}" value="ing" onchange="this.form.submit()" class="position-absolute"> 읽고 있는 작품</label>
                    </div>
                  </form>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

</body>
</html>
