/*검색 선택*/
.search-select {
    width: 100px;
    padding: 0.25rem;
    font-size: 0.875rem;
}


input[name="searchWord"] {
    padding: 0.25rem;
    width: 50%;
    font-size:10pt;
}

.input-group-append .btn {
    padding: 0.25rem 0.5rem;
}


.board-container {
    margin: 5px 0;
}

.card {
    margin: 0 8px;
}


.input-group {
    margin-left: 20px;
}

.write-button {
    margin-left: 15px;
}

.input-group .form-control-sm {
    width: 150px;

.board-card {
    width: 10rem;
    cursor: pointer;
}

.sort-card {
    width: 6rem;
    cursor: pointer;
}


}

/*검색 + 글작성 */
.board-tap {

}