/*검색 선택*/
.search-select {
    width: 100px;
    padding: 0.25rem;
    font-size: 0.875rem;
}


input[name="searchWord"] {
    padding: 0.25rem;
    width: 50%;
    font-size:10pt;
}

.input-group-append .btn {
    padding: 0.25rem 0.5rem;
}


.board-container {
    margin: 5px 0;
}

.card {
    margin: 0 8px;
}


.input-group {
    margin-left: 20px;
}

.write-button {
    margin-left: 15px;
}

.input-group .form-control-sm {
    width: 150px;

.board-card {
    width: 10rem;
    cursor: pointer;
}

.sort-card {
    width: 6rem;
    cursor: pointer;
}


}

/*검색 + 글작성 */
.board-tap {

}

.short-text {
    display: inline-block;
    max-height: 3em; /* 3줄로 제한 */
    overflow: hidden;
    white-space: normal;
}
.full-text {
    display: inline-block;
    white-space: normal;
}
.btn-link {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
}
.btn-link:hover {
    color: #0056b3;
    text-decoration: none;
}

/*줄거리 더보기 관련 내용입니다. */
.short-text {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.full-text {
    display: block;
}