/*검색 선택*/
.search-select {
    width: 100px;
    padding: 0.25rem;
    font-size: 0.875rem;
}


input[name="searchWord"] {
    padding: 0.25rem;
    width: 50%;
    font-size:10pt;
}

.input-group-append .btn {
    padding: 0.25rem 0.5rem;
}


.board-container {
    margin: 5px 0;
}

.card {
    margin: 0 8px;
}


.input-group {
    margin-left: 20px;
}

.write-button {
    margin-left: 15px;
}

.input-group .form-control-sm {
    width: 150px;

.board-card {
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.sort-card {
    width: 6rem;
    cursor: pointer;
}


}

/*검색 + 글작성 */
.board-tap {

}

.short-text {
    display: inline-block;
    max-height: 3em; /* 3줄로 제한 */
    overflow: hidden;
    white-space: normal;
}
.full-text {
    display: inline-block;
    white-space: normal;
}
.btn-link {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    font-size: 1rem;
}

/*링크 버튼 위에 마우스 호버시 색상변경*/
.btn-link:hover {
    color: #0056b3;
    text-decoration: none;
}

/*게시판 선택 목록에 화살표 추가*/
.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="none" stroke="currentColor" stroke-width=".5" d="M2 5L0 3h4z"/></svg>') no-repeat right 0.75rem center/8px 10px;
    padding-right: 1.5rem;
}

.short-text {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* 줄 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.full-text {
    display: block;
}

