<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer id="footer" th:fragment="footer">
    <hr/>
    <div id="footer-bottom" class="mb-2">
        <div class="container">
            <div class="d-flex flex-wrap justify-content-lg-center ">
                <div class="copyright">
                    <p>© Copyright 2024 Bookly. HTML Template by <a href="https://templatesjungle.com/"
                                                                    target="_blank">TemplatesJungle</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>