<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{board_layout :: layout(~{::title}, ~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>웹툰 목록</title>
</head>
<body>

<section id="webnovel-list" class="position-relative padding-small">
    <!--    수정필요-->

    <div id="filter-options">
        <a th:href="@{/wt_selectAll(filter='all')}" class="filter-option"
           th:classappend="${filter == null || filter == 'all'} ? 'selected-option' : ''">전체</a>
        <span th:href="@{/wt_selectAll(filter='recommend')}" class="filter-option"
              th:classappend="${filter == 'recommend'} ? 'selected-option' : ''">사용자 추천</span>
        <a id="prefer-link" th:href="@{/wt_like(categories=${likeCategories})}" class="filter-option"
           th:classappend="${filter == 'prefer'} ? 'selected-option' : ''">선호</a>
    </div>

    <div class="filter-option">
    <span class="category filter-option point" th:each="category : ${allCategories}" th:if="${category != null}"
          th:text="' #' + ${category}" th:data-category="${category}" onclick="filterByCategory(this)"></span>
        <span th:each="category : ${categories}" th:if="${category != null}"> </span>
    </div>




    <!-- 검색 폼 -->
    <div id="filter-container">
        <form class="webnovel-search search-list--custom d-flex" action="/wt_search" method="get">
            <input type="hidden" name="category" th:value="${category}"/>
            <input type="hidden" name="sortOrder" th:value="${sortOrder}"/>
            <select name="searchType">
                <option value="title">제목</option>
                <option value="writer">작가</option>
            </select>
            <input type="text" name="searchWord" placeholder="Search..." th:value="${searchWord}"/>
            <input type="submit" class="btn btn-dark rounded-0 p-2" value="검색">
        </form>

        <div id="sort-options">
            <a th:href="@{/wt_selectAll}"
               th:classappend="${searchType == 'null'} ? 'selected-sort' : 'sort-option'">전체보기</a>

            <a th:href="@{/wt_search(searchType='popular')}"
               th:classappend="${searchType == 'popular'} ? 'selected-sort' : 'sort-option'">인기순</a>
        </div>
    </div>


    <div class="webnovel-grid">
        <div class="webnovel-item position-relative" th:each="webtoon : ${webtoonList}">
            <a th:href="@{/wt_selectOne(item_id=${webtoon.item_id})}">
                <img th:src="@{${webtoon.img_name}}" class="webnovel-img" alt="Webnovel Cover">
            </a>
            <a th:href="@{/wt_selectOne(item_id=${webtoon.item_id})}" class="webnovel-title"
               th:text="${webtoon.title}"></a>
            <form action="/bookshelf/insertOK" method="post">
                <div class="card-concern position-absolute start-50 translate-middle-x vstack gap-2 p-2">
                    <input type="hidden" name="work_num" th:value="${webtoon.item_id}"/>
                    <label th:for="'read'+${webtoon.item_id}" class="btn btn-dark">
                        <input type="radio" name="sort"
                               th:id="'read'+${webtoon.item_id}"
                               value="read"
                               onchange="this.form.submit()"
                               class="position-absolute"> 읽은
                        작품</label>
                    <label th:for="'to-read'+${webtoon.item_id}" class="btn btn-dark">
                        <input type="radio" name="sort"
                               th:id="'to-read'+${webtoon.item_id}"
                               value="to-read"
                               onchange="this.form.submit()"
                               class="position-absolute">
                        읽고 싶은 작품</label>
                    <label th:for="'ing'+${webtoon.item_id}" class="btn btn-dark">
                        <input type="radio" name="sort"
                               th:id="'ing'+${webtoon.item_id}"
                               value="ing"
                               onchange="this.form.submit()"
                               class="position-absolute"> 읽고
                        있는 작품</label>
                </div>
            </form>
        </div>
    </div>


    <!-- 페이징 기능 추가 -->
    <div class="pagination" th:if="${filter != 'prefer'}">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/wt_search(page=${currentPage - 1}, searchType=${searchType}, searchWord=${searchWord}, categories=${categories}, sortOrder=${sortOrder})}">이전</a>
            </li>
            <li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${pageNum == currentPage} ? 'active'">
                <a class="page-link"
                   th:href="@{/wt_search(page=${pageNum}, searchType=${searchType}, searchWord=${searchWord}, categories=${categories}, sortOrder=${sortOrder})}"
                   th:text="${pageNum}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/wt_search(page=${currentPage + 1}, searchType=${searchType}, searchWord=${searchWord}, categories=${categories}, sortOrder=${sortOrder})}">다음</a>
            </li>
        </ul>
    </div>

    <div class="pagination" th:if="${filter == 'prefer'}">
        <ul class="pagination">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/wt_like(page=${currentPage - 1}, categories=${categories}, sortOrder=${sortOrder})}">이전</a>
            </li>
            <li class="page-item" th:each="pageNum : ${#numbers.sequence(startPage, endPage)}"
                th:classappend="${pageNum == currentPage} ? 'active'">
                <a class="page-link"
                   th:href="@{/wt_like(page=${pageNum}, categories=${categories}, sortOrder=${sortOrder})}"
                   th:text="${pageNum}">1</a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/wt_like(page=${currentPage + 1}, categories=${categories}, sortOrder=${sortOrder})}">다음</a>
            </li>
        </ul>
    </div>

</section>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const urlParams = new URLSearchParams(window.location.search);
        const categories = urlParams.getAll('categories');
        categories.forEach(category => {
            const element = document.querySelector(`[data-category="${category}"]`);
            if (element) {
                element.classList.add('selected-category');
            }
        });

        // wt_selectAll로 돌아갈 때 localStorage 초기화
        if (window.location.pathname === '/wt_selectAll') {
            localStorage.removeItem('selectedCategories');
        }
    });

    function filterByCategory(element) {
        const category = element.getAttribute('data-category');
        let selectedCategories = JSON.parse(localStorage.getItem('selectedCategories')) || [];

        if (selectedCategories.includes(category)) {
            selectedCategories = selectedCategories.filter(cat => cat !== category);
            element.classList.remove('selected-category');
        } else {
            selectedCategories.push(category);
            element.classList.add('selected-category');
        }

        localStorage.setItem('selectedCategories', JSON.stringify(selectedCategories));

        if (selectedCategories.length === 0) {
            // 선택된 카테고리가 없으면 wt_selectAll로 리다이렉트
            window.location.href = '/wt_selectAll';
        } else {
            const url = new URL(window.location.href);
            url.pathname = '/wt_search';
            url.searchParams.set('searchType', 'categories');
            url.searchParams.set('sortOrder', '');
            url.searchParams.set('page', '1'); // 항상 첫 페이지로 이동
            url.searchParams.delete('categories');
            selectedCategories.forEach(cat => url.searchParams.append('categories', cat));

            window.location.href = url.toString();
        }
    }
</script>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const sessionId = [[${session.id}]];

        function openLoginModal(event) {
            event.preventDefault();
            var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
            modal.show();
        }

        document.getElementById("prefer-link").addEventListener("click", function (event) {
            if (!sessionId) {
                openLoginModal(event);
            }
        });
    });
</script>

</body>
</html>