table {
    width: 30%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif; /* 예쁜 글씨체 설정 */
    font-size: 25px;
}

th, td {
    border: 1px solid #ddd; /* 내부 셀 테두리는 얇게 */
}

th {
    background-color: #df7c7c;
}

#insertTable1,#insertTable2,#insertTable3,#insertTable4 {
    border-collapse: collapse; /* 중첩된 테두리 제거 */
    border: 2px solid black; /* 바깥 테두리를 진하게 */
    border-collapse: separate; /* 테두리 겹침을 방지 */
    border-spacing: 0; /* 셀 간의 간격 없애기 */
    border: 2px solid #333; /* 테이블 외곽 테두리 */
    border-radius: 15px; /* 둥근 테두리 */
}

#insertTable1 {
    /*border: 5px solid blue; !* 바깥 테두리를 진하게 *!*/
    border: 5px solid black ; /* 바깥 테두리를 진하게 */
}

#insertTable2 {
    /*border: 5px solid yellow; !* 바깥 테두리를 진하게 *!*/
    border: 5px solid black; /* 바깥 테두리를 진하게 */
}

#insertTable3 {
    /*border: 5px solid #f38b80; !* 바깥 테두리를 진하게 *!*/
    border: 5px solid black /* 바깥 테두리를 진하게 */
}

#insertTable4 {
    /*border: 5px solid green; !* 바깥 테두리를 진하게 *!*/
    border: 5px solid black; /* 바깥 테두리를 진하게 */
}

#table1:hover {
    background-color: #E15C5CFF;
}

#table2:hover {
    background-color: #E15C5CFF;
}

#table3:hover {
    background-color: #E15C5CFF;
}

#table4:hover {
    background-color: #E15C5CFF;
}

#button-container {
    display: flex; /* 버튼들을 한 줄에 정렬 */
    gap: 10px; /* 버튼 사이의 간격 설정 */
}

#button-container2 {
    display: flex; /* 버튼들을 한 줄에 정렬 */
    gap: 10px; /* 버튼 사이의 간격 설정 */
}