<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmtb.pageon.user.mapper.AdminMapper">

    <select id="selectAllMembers" resultType="com.tmtb.pageon.user.model.UserVO">
        SELECT * FROM member
        ORDER BY num
            LIMIT #{offset}, #{size}
    </select>

    <select id="countAllMembers" resultType="int">
        SELECT COUNT(*) FROM member
    </select>


    <!-- 회원 정보 수정 쿼리 - img_name과 img_data를 선택적으로 업데이트 -->
    <update id="updateMember" parameterType="com.tmtb.pageon.user.model.UserVO">
        UPDATE pageon.member
        SET
            name = #{name},
            tel = #{tel},
            introduce = #{introduce},
            img_name = CASE WHEN #{img_name} IS NOT NULL THEN #{img_name} ELSE img_name END,
            img_data = CASE WHEN #{img_data} IS NOT NULL THEN #{img_data} ELSE img_data END
        WHERE id = #{id}
    </update>

    <delete id="deleteMember" parameterType="String">
        DELETE FROM member WHERE id = #{id}
    </delete>

    <select id="searchMembers" parameterType="map" resultType="com.tmtb.pageon.user.model.UserVO">
        SELECT *
        FROM pageon.member
        WHERE name LIKE CONCAT('%', #{keyword}, '%')
        ORDER BY reg_date ${sortOrder}
        LIMIT #{offset}, #{size}
    </select>

    <select id="countSearchMembers" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM pageon.member
        WHERE name LIKE CONCAT('%', #{keyword}, '%') OR tel LIKE CONCAT('%', #{keyword}, '%') OR id LIKE CONCAT('%', #{keyword}, '%')
    </select>

</mapper>