<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmtb.pageon.community.mapper.CommunityMapper">


    <select id="boardCommunity" resultType="com.tmtb.pageon.board.model.BoardVO">
        select title,num from board order by num desc limit 3;
    </select>

    <select id="noticeCommunity" resultType="com.tmtb.pageon.notice.model.NoticeVO">
        select title,num from notice order by num desc limit 3;
    </select>

    <select id="reviewCommunity" resultType="com.tmtb.pageon.review.model.ReviewVO">
        select title,num from review order by num desc limit 3;
    </select>

    <select id="forumCommunity" resultType="com.tmtb.pageon.forum.model.ForumVO">
        select title,num from forum order by num desc limit 3;
    </select>

    <select id="boardSelectList" resultType="com.tmtb.pageon.board.model.BoardVO">
        select * from board order by num desc limit 4;
    </select>

    <select id="noticeSelectList" resultType="com.tmtb.pageon.notice.model.NoticeVO">
        select * from notice order by num desc limit 4;
    </select>

    <select id="reviewSelectList" resultType="com.tmtb.pageon.review.model.ReviewVO">
        select * from review order by num desc limit 4;
    </select>

    <select id="forumSelectList" resultType="com.tmtb.pageon.forum.model.ForumVO">
        SELECT f.*, w.title AS workTitle, w.img_name AS workImgName
        FROM forum f JOIN work w ON f.work_num = w.item_id
        ORDER BY wdate desc limit 4
    </select>

</mapper>
