<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmtb.pageon.community.mapper.CommunityMapper">


    <select id="noticeCommunity" resultType="com.tmtb.pageon.notice.model.NoticeVO">
        select title from notice order by num desc limit 3;
    </select>


    <select id="forumCommunity" resultType="com.tmtb.pageon.forum.model.ForumVO">
        select title from forum order by num desc limit 3;
    </select>

    <select id="reviewCommunity" resultType="com.tmtb.pageon.review.model.ReviewVO">
        select title from review order by num desc limit 3;
    </select>

    <select id="boardCommunity" resultType="com.tmtb.pageon.board.model.BoardVO">
        select title from board order by num desc limit 3;
    </select>

</mapper>
