<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmtb.pageon.forum.mapper.ForumMapper">
<!--    목록 보기-->
    <select id="getList" resultType="com.tmtb.pageon.forum.model.ForumVO">
        SELECT f.*, w.title AS work_title, w.img_name
        FROM forum f
                 JOIN work w ON f.work_num = w.num ORDER BY ${sortField} ${sortDir} LIMIT #{offset}, #{size}
    </select>
    <select id="getListCount" resultType="int">
        SELECT count(*) FROM forum
    </select>
<!--    목록 보기 끝-->
<!--    목록 검색-->
    <select id="searchForum" resultType="com.tmtb.pageon.forum.model.ForumVO">
        SELECT f.*, w.title AS work_title, w.img_name
        FROM forum f
        LEFT JOIN work w ON f.work_num = w.num
        WHERE 1=1
        <if test="searchKey != null and searchWord != ''">
            <choose>
                <when test="searchKey == 'title'">
                    AND f.title LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <when test="searchKey == 'work_title'">
                    AND w.title LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <when test="searchKey == 'content'">
                    AND f.content LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <when test="searchKey == 'user_id'">
                    AND f.user_id LIKE CONCAT('%', #{searchWord}, '%')
                </when>
            </choose>
        </if>
        LIMIT #{offset}, #{size}
    </select>
    <select id="searchForumCount" resultType="int">
        SELECT COUNT(*)
        FROM forum f
        LEFT JOIN work w ON f.work_num = w.num
        WHERE 1=1
        <if test="searchKey != null and searchWord != '' ">
            <choose>
                <when test="searchKey == 'title'">
                    AND f.title LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <when test="searchKey == 'work_title'">
                    AND w.title LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <when test="searchKey == 'content'">
                    AND f.content LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <when test="searchKey == 'user_id'">
                    AND f.user_id LIKE CONCAT('%', #{searchWord}, '%')
                </when>
            </choose>
        </if>
    </select>
    <!-- 목록 검색 끝-->
<!--    상세 보기 -->
    <select id="selectOne" resultType="com.tmtb.pageon.forum.model.ForumVO">
        select f.*, w.title AS work_title, w.img_name FROM forum f
            JOIN work w ON f.work_num = w.num where f.num=#{num}
    </select>
<!--    상세 보기 끝-->
<!--    DML -->
    <insert id="insertForumOK">
        insert into forum(work_num,title,content,user_id) values(#{work_num},#{title},#{content},#{user_id})
    </insert>
    <update id="updateForumOK">
        update forum set title=#{title},content=#{content} where num=#{num}
    </update>
    <delete id="deleteForumOK">
        delete from forum where num=#{num}
    </delete>
<!--    DML-->
</mapper>