<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmtb.pageon.login.mapper.LoginMapper">


    <select id="findById"
            resultType="com.tmtb.pageon.user.model.UserVO">
        select  id, pw, name, user_role from member where id=#{id}
    </select>

</mapper>