<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmtb.pageon.review.mapper.ReviewMapper">

    <select id="review_selectAllPageBlock" resultType="com.tmtb.pageon.review.model.ReviewVO">
        SELECT * FROM review ORDER BY #{sortType} #{sort} limit #{startRow},#{pageBlock}
    </select>
    <select id="review_getTotalRow" resultType="int">
        SELECT count(*) total_rows FROM review
    </select>
<!--    <select id="review_searchListPageWork_id" resultType="com.tmtb.pageon.review.model.ReviewVO">-->
<!--        SELECT * FROM review WHERE work_id like  #{searchWord} ORDER BY #{sortType} #{sort} limit #{startRow},#{pageBlock}-->
<!--    </select>-->
<!--    <select id="review_searchListPageBlockTitle" resultType="com.tmtb.pageon.review.model.ReviewVO">-->
<!--        SELECT * FROM review WHERE title like #{searchWord} ORDER BY #{sortType} #{sort} limit #{startRow},#{pageBlock}-->
<!--    </select>-->
<!--    <select id="review_getSearchTotalRowsTitle" resultType="int">-->
<!--        SELECT count(*) total_rows-->
<!--        FROM review WHERE title LIKE #{searchWord}-->
<!--    </select>-->

<!--    <select id="review_getSearchTotalRowsWork_id" resultType="int">-->
<!--        SELECT count(*) total_rows-->
<!--        FROM review WHERE work_id LIKE #{searchWord}-->
<!--    </select>-->
    <insert id="review_insertOK" >
        insert into review(work_num, title, content, user_id, rating)
        values (#{work_num}, #{title}, #{content}, #{user_id}, #{rating})
    </insert>
  <update id="review_updateOK">
        UPDATE review SET work_num=#{work_num}, title=#{title}, content=#{content}, user_id=#{user_id}, rating=#{rating}-->
   </update>
    <delete id="review_deleteOK">
        DELETE FROM review WHERE num=#{num}
    </delete>
    <select id="review_selectOne" resultType="com.tmtb.pageon.review.model.ReviewVO">
        SELECT * FROM review WHERE num=#{num}
    </select>
    <update id="review_increamentLikes" >
        UPDATE review set `like` =`like` +1 WHERE num=#{num}
    </update>
    <select id="getLikeCount" resultType="int">
        SELECT `like` FROM review WHERE num=#{num}
    </select>
    <select id="getHateCount" resultType="int">
        SELECT hate FROM review WHERE num=#{num}
    </select>
    <update id="review_updateReport" >
        UPDATE review set report=1 WHERE num=#{num}
    </update>
    <update id="review_increamentDislikes" >
        UPDATE review set hate=hate+1 WHERE num=#{num}
    </update>


<!--    <select id="getanalyze" resultType="com.tmtb.pageon.review.model.ReviewVO">-->
<!--    SELECT * FROM reviews-->
<!--    </select>-->
</mapper>