<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tmtb.pageon.user.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.tmtb.pageon.user.model.UserVO">
        INSERT INTO pageon.member (id, pw, name, tel, imgname, like_categories, introduce, imgPath)
        VALUES (#{id}, #{pw}, #{name}, #{tel}, #{imgname}, #{like_categories}, #{introduce}, #{imgPath})
    </insert>

    <select id="selectfindUser" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM pageon.member
        WHERE id = #{id}
    </select>


    <select id="findById" parameterType="String">
        SELECT id,pw,name,tel,imgname,reg_date,like_categories,introduce,imgPath
        FROM pageon.member
        WHERE id = #{id}
    </select>
    
    <select id="findByforum" parameterType="String">
        SELECT num,content_num,title,content,user_id,wdate,report,likes
        FROM pageon.forum
        WHERE user_id = #{id}
    </select>

    <select id="findBycomment" parameterType="String">
        SELECT num,type,bnum,rnum,cnum,content,wdate,user_id,report
        FROM pageon.comment
        WHERE user_id = #{id}
    </select>

    <select id="findByboard" parameterType="String">
        SELECT num,title,content,user_id,wdate,img_name,report,category,hitcount
        FROM pageon.board
        WHERE user_id = #{id}
    </select>

    <select id="findByreview" parameterType="String">
        SELECT num,content_num,title,content,user_id,wdate,report,likes
        FROM pageon.forum
        WHERE user_id = #{id}
    </select>


</mapper>