<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmtb.pageon.user.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.tmtb.pageon.user.model.UserVO">
        INSERT INTO pageon.member (id, pw, name, tel, img_name, reg_date, like_categories, introduce, img_data,user_role,email)
        VALUES (#{id}, #{pw}, #{name}, #{tel}, #{img_name}, NOW(), #{like_categories}, #{introduce}, #{img_data},#{user_role},#{email})
    </insert>

    <!-- 아이디 중복 체크를 위한 쿼리 -->
    <select id="selectfindUser" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM pageon.member
        WHERE id = #{id}
    </select>

    <!-- 특정 회원의 정보 조회 쿼리 -->
    <select id="findById" parameterType="String" resultType="com.tmtb.pageon.user.model.UserVO">
        SELECT id, pw, name, tel, img_name, reg_date, like_categories, introduce,img_data,user_role
        FROM pageon.member
        WHERE id = #{id}
    </select>

    <select id="findByforumPazing" parameterType="map" resultType="com.tmtb.pageon.user.model.ForumVO">
        SELECT *
        FROM forum
        WHERE user_id = #{id}
        ORDER BY wdate DESC
            LIMIT #{offset}, #{size}
    </select>


    <select id="findBoardsByUserPazing" parameterType="map" resultType="com.tmtb.pageon.user.model.BoardVO">
        SELECT *
        FROM pageon.board
        WHERE user_id = #{id}
        ORDER BY wdate DESC
            LIMIT #{offset}, #{size}
    </select>

    <!-- 사용자가 작성한 리뷰 조회 쿼리 -->
    <select id="findByReviewsPazing" parameterType="map" resultType="com.tmtb.pageon.user.model.ReviewVO">
        SELECT *
        FROM pageon.review
        WHERE user_id = #{id}
        ORDER BY wdate DESC
            LIMIT #{offset}, #{size}
    </select>


    <select id="findCommentsByUserPazing" parameterType="map" resultType="com.tmtb.pageon.user.model.CommentVO">
        SELECT *
        FROM pageon.comment
        WHERE user_id = #{id}
        ORDER BY wdate DESC
            LIMIT #{offset}, #{size}
    </select>

    <!-- 특정 회원의 forum 정보를 조회하는 쿼리 -->
    <select id="findByForum" parameterType="String" resultType="com.tmtb.pageon.user.model.ForumVO">
        SELECT *
        FROM forum
        WHERE user_id = #{id}
        ORDER BY wdate DESC
    </select>

    <select id="findByBoard" parameterType="String" resultType="com.tmtb.pageon.user.model.BoardVO">
        SELECT *
        FROM pageon.board
        WHERE user_id = #{id}
        ORDER BY wdate DESC
    </select>

    <select id="findByReviews" parameterType="String" resultType="com.tmtb.pageon.user.model.ReviewVO">
        SELECT *
        FROM pageon.review
        WHERE user_id = #{id}
        ORDER BY wdate DESC
    </select>

    <select id="findByComment" parameterType="String" resultType="com.tmtb.pageon.user.model.CommentVO">
        SELECT *
        FROM pageon.comment
        WHERE user_id = #{id}
        ORDER BY wdate DESC
    </select>


    <!-- 사용자 카테고리 업데이트 쿼리 -->
    <update id="updateCategories">
        UPDATE pageon.member
        SET like_categories = #{likeCategories}
        WHERE id = #{id}
    </update>


    <!-- 회원정보 수정 쿼리 -->
    <update id="updateUserInfo" parameterType="com.tmtb.pageon.user.model.UserVO">
        UPDATE pageon.member
        SET name = #{name}, tel = #{tel}, introduce = #{introduce}
        <if test="img_name != null">
            , img_name = #{img_name}, img_data = #{img_data}
        </if>
        WHERE id = #{id}
    </update>


    <insert id="addRecentlyViewed">
        INSERT INTO recentlyviewed (id, product_id, url)
        VALUES (#{id}, #{productId}, #{url})
    </insert>

    <select id="findUserIdByEmail">
        SELECT id
        from member
        WHERE email = #{email}
    </select>


    <select id="selectfindEmail" parameterType="String" resultType="int">
        SELECT COUNT(*)
        from member
        WHERE email = #{email}
    </select>


    <update id="selectupdatePassword">
        SELECT COUNT(*)
        FROM member
        WHERE id = #{id} AND email = #{email}
    </update>

    <update id="updatePassword">
        UPDATE member
        SET pw = #{pw}
        WHERE id = #{id} AND email = #{email}
    </update>


</mapper>