<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmtb.pageon.webtoon.mapper.WebtoonMapper">

<!--    전체웹툰 가나다 순서-->
    <select id="getWebtoonList" resultType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        SELECT *
        FROM work
        WHERE type = 'webtoon'
        ORDER BY title ASC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>

<!--    인기 웹툰 임시-->
    <select id="selectPopularWebtoons" resultType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        SELECT *
        FROM work
        WHERE type = 'webtoon'
        ORDER BY added_bs DESC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getTotalCount" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM work
        WHERE type = 'webtoon'
    </select>

    <select id="getTotalCountByPopular" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM work
        WHERE type = 'webtoon'
        ORDER BY added_bs DESC
    </select>

    <select id="selectOne" resultType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        SELECT *
        FROM work
        WHERE item_id = #{item_id}
          AND type = 'webtoon';
    </select>

    <select id="searchWebtoonByTitle" resultType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        SELECT *
        FROM work
        WHERE title LIKE CONCAT('%', #{searchWord}, '%')
          AND type = 'webtoon'
        ORDER BY item_id DESC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="searchWebtoonByWriter" resultType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        SELECT *
        FROM work
        WHERE writer LIKE CONCAT('%', #{searchWord}, '%')
          AND type = 'webtoon'
        ORDER BY item_id DESC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="searchWebtoonByCategories" resultType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        SELECT *
        FROM work
        WHERE categories LIKE CONCAT('%', #{searchWord}, '%')
          AND type = 'webtoon'
        ORDER BY item_id DESC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="searchMultiCategories" resultType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        SELECT *
        FROM work
        WHERE type = 'webtoon'
        AND (
        <foreach item="category" collection="categories" separator=" OR ">
            categories LIKE CONCAT('%', #{category}, '%')
        </foreach>
        )
        ORDER BY item_id DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="searchLikeCategories" resultType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        SELECT *
        FROM work
        WHERE type = 'webtoon'
        AND (
        <foreach item="category" collection="likeCategories" separator=" OR ">
            categories LIKE CONCAT('%', #{category}, '%')
        </foreach>
        )
        ORDER BY item_id DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getTotalCountByLikeCategories" resultType="int">
        SELECT COUNT(*)
        FROM work
        WHERE type = 'webtoon'
        AND (
        <foreach item="category" collection="likeCategories" separator=" OR ">
            categories LIKE CONCAT('%', #{category}, '%')
        </foreach>
        )
    </select>

    <select id="getTotalCountByMultiCategories" resultType="int">
        SELECT COUNT(*)
        FROM work
        WHERE type = 'webtoon'
        AND (
        <foreach item="category" collection="categories" separator=" OR ">
            categories LIKE CONCAT('%', #{category}, '%')
        </foreach>
        )
    </select>


    <select id="getTotalCountByTitle" resultType="int">
        SELECT COUNT(*)
        FROM work
        WHERE title LIKE CONCAT('%', #{searchWord}, '%')
          AND type = 'webtoon'
    </select>

    <select id="getTotalCountByWriter" resultType="int">
        SELECT COUNT(*)
        FROM work
        WHERE writer LIKE CONCAT('%', #{searchWord}, '%')
          AND type = 'webtoon'
    </select>

    <select id="getTotalCountByCategories" resultType="int">
        SELECT COUNT(*)
        FROM work
        WHERE categories LIKE CONCAT('%', #{searchWord}, '%')
        AND type = 'webtoon'
    </select>


<!--    api - db 저장-->
    <insert id="saveWebtoon" parameterType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        INSERT INTO work (type, title, `desc`, writer, illustrator, provider, update_day, `rank`, categories, img_name)
        VALUES ('webtoon', #{title}, #{desc}, #{writer}, #{illustrator}, #{provider}, #{update_day}, #{rank}, #{categories}, #{img_name})
    </insert>

<!--    api - db 중복값 찾기용-->
    <select id="findByTitle" resultType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        SELECT *
        FROM work
        WHERE title = #{title}
          AND type = 'webtoon'
    </select>

    <update id="updateWebtoon" parameterType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        UPDATE work
        SET `desc` = #{desc},
            writer = #{writer},
            illustrator = #{illustrator},
            provider = #{provider},
            update_day = #{update_day},
            `rank` = #{rank},
            categories = #{categories},
            img_name = #{img_name}
        WHERE title = #{title}
          AND type = 'webtoon'
    </update>

    <select id="getCategories" resultType="java.lang.String">
        SELECT DISTINCT categories
        FROM work
        WHERE type = 'webtoon'
    </select>

    <update id="updateWebtoonUpdateDays" parameterType="com.tmtb.pageon.webtoon.model.WebtoonVO">
        UPDATE work
        SET update_day = #{update_day},
            link = #{link}
        WHERE title = #{title}
          AND type = 'webtoon'
    </update>

    <!--   사용자 리뷰 작성 추천- 웹툰 -->
    <select id="getWebtoonRecommendationBycategory" resultType="com.tmtb.pageon.webtoon.model.WebtoonVO" >
        SELECT DISTINCT w.item_id, w.title, w.img_name, w.type, w.writer, r.categories
        FROM work w
                 JOIN review r ON r.categories = w.categories
                 JOIN member m ON m.id = r.user_id
        WHERE m.id = #{id}
          AND w.item_id != r.work_num
        AND w.type = 'webtoon'
        ORDER BY item_id DESC
            LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="webtoonGetRecommandationTotalCount" resultType="int">
        SELECT COUNT(DISTINCT w.item_id)
        FROM work w
                 JOIN review r ON r.categories = w.categories
                 JOIN member m ON m.id = r.user_id
        WHERE m.id = #{id}
          AND w.item_id != r.work_num
        AND w.type = 'webtoon'
    </select>



<!--임시추가-->
    <update id="incrementAddedBs">
        UPDATE Webtoon
        SET added_bs = added_bs + 1
        WHERE item_id = #{workNum}
    </update>


</mapper>

